.header{
  background-color: rgb(5, 84, 121);
}
.header h1{
  color: rgb(255, 255, 255);
}
.navbar{
  background-color: rgb(241, 234, 125);
}
li{
  list-style: none;
}
li a{
  text-decoration: none;
}
header a{
  text-decoration: none;
}
.categorias{
  background-color: rgb(197, 165, 197);
}