.bg{
    background-color: rgb(83, 36, 68);;
}
.card-bg{
    background-color: rgb(155, 115, 161);
}
span{
    color: white;
}
.btn-compra{
    color: white;
}

a:hover{
    color: rgb(238, 215, 113);
    transition: 0.3s;
}

h6{
    font-weight: bold;
}
.card-text{
    font-weight: bold;
}